

$xtragradient: linear-gradient(104.68deg, #132534 0.98%, #050101 107.45%);


#xtraLogo_introduce{
    &::before{
        background-image: $xtragradient;
    }
    padding-top: 5%;
    padding-bottom:5%;

    img[alt='xtra logo']{
        width: 600px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    & > .body{
       &:not(:last-of-type){ border-bottom: solid 1px #444d6660;         margin-bottom: 100px; }
        padding-bottom: 100px;
    }
}


#xtra_typecolor{
    table{
        text-align: center;
         border-collapse: collapse;
         margin: auto;
         margin-top: 80px;
         img{ max-width: 300px; }
         thead{
            border-bottom: solid 1px #444d6660;
         }
         td{ 
            box-sizing: border-box;
            padding: 15px 20px;

        }
         .packColor{
            margin-top: 10px;
            box-sizing: border-box;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            .colorswatch{
                display: block;
                width: 50px;
                height: 50px;
                &.primaryColor{
                    width: 100px;
                    height: 100px;
                }
             }
         }
    }

}


#xtra_map{
    img{ width: 700px; }
    &::before{
        background-image: url('./assets/mapbkg.jpg');
        background-size: cover;
        background-position: center;
    }
}