@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;400;600&family=Barlow:ital,wght@0,300;0,400;0,500;1,400&display=swap');

$ui_blue:linear-gradient(90deg, #7e5bff 0%, #00b9ff 100%);
$grey_bkg: #222;
$settings_back:#ddd;
$paper:#D4D4D4;
$margin:6%;
$red:#e03434;
$purple:#4989ff;
$settingsDark: #717171;
$poster_margin:calc( (100vw/8) / 8);
$container_margin:3% 0;
$box_bkg: #1f1f1f;


$darkblue:#1b222a;
$midblue:#3c4658;

$colours: (
  "red":$red,
  "purple": #b740e6,
  "pink": #f48bdc,
  "blue": #4468a0,
  "yellow": #f5b231,
  "brown": #75563a,
  "green": #5b9a48,
  "cyan": #43c8b1,
  "white": #dbdbdb,
  "black": #202020,
  "orange": #ff8a00
);


@mixin footer-margin{
  margin-bottom: 10%;
}

@mixin padding-content{
  box-sizing: border-box;
  padding: 0 $margin;
}

@mixin ui-margin-top{ margin-top: 20px; }

@mixin thin-paper-border{
  border: solid 1px $midblue;
}

@mixin round-border{ border-radius: 2px; }


@mixin hover-highlight{
  transition: background 0.1s ease;
  &:hover{  background: $midblue; }
}

@mixin box-border{
  padding: 10px;
  box-sizing:border-box;
  border: solid 1px $settingsDark;
}

@mixin hover-red-border{
  box-sizing: border-box;
  transition: border-width 0.1s linear;
  border: solid 0px $red;

  &:hover{ border-width: 3px; }
}



@mixin card{
  background: $darkblue;
  @include round-border;
  border: solid 1px $midblue;
  //box-shadow: rgb(0 0 0 / 60%) 0px 4px 4px;
  color: $paper;
}


#table_inputs{

  input{
      font-family: 'Barlow', sans-serif;
      border: none;

      &:focus{ outline:none; }

      &[type='checkbox']:checked + label{
        background: $red;
        border-color: $red;
      }
  }


  .field{
    background: none;
    color:#ffffff;
    width: 100%;
    min-width: 200px;
    margin-right: 10px;
  }

  .search_bar{
    float: right;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: end;
    padding: 8px 0px;
    width: 100%;
    @include card;
    box-shadow: none;

  }



  .microFilter .ico{

    display: block;
    height: 18px;
    width: 18px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing:border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;

    &.small{ width: 10px; height: 10px;}
    &.bigico{
      width: 35px; height: 35px;
      &.list{
      }
    }

    &.source{
      height: 35px;
      width: 35px;
    }

    /*search ico*/
    &.search { background-image: url("./assets/icons/search.svg"); }


    &.smallarrow{ background-image: url("./assets/icons/smallarrow.svg"); transition: background 0.2s ease; }
    /*tag ico*/
    &#tag,{ background-image: url("./assets/icons/tag.svg"); }
    &.tag{ background-image: url("./assets/icons/tag.svg"); }

    /*clap ico*/
    &#clap{ background-image: url("./assets/icons/clapperboard.svg"); }

    /*chrono ico*/
    &#date{ background-image: url("./assets/icons/globe.svg"); }


    /*mosaic ico*/
    &#poster{ background-image: url("./assets/icons/poster.svg"); }
    &#mosaic{ background-image: url("./assets/icons/mosaic.svg"); }

    &#backArrow{
      background-image: url("./assets/icons/arrowback.svg");
      margin-right: 6%;
      margin-left: 6%;
      width: 100%;
      height: 20px;
      transition: opacity 0.3s ease, transform 0.3s ease;

     }

     #micro_name &{ background-image: url("./assets/icons/az.svg"); }
     #micro_year &{ background-image: url("./assets/icons/calendar.svg"); }

      &.colours{
        border-radius: 100%;
        @each $colour, $hex in $colours{
          &[name=#{$colour}]{ background: $hex; }
        }
      }

  }


  .dirPopup_box {

    @include card;

    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    .colours{
      align-self: center;
      justify-self: center;
    }
      display: grid;
      grid-template-columns: 28% 1fr;
      column-gap: 4%;


    p{
      margin: 0;
      pointer-events: none;
    }

    &:not(:nth-of-type(4n)) { margin-right: $poster_margin; }

    img{ max-width: 100%; }

  }


  .microFilter{

    :not(li) &, ul > li &{
      &, &:first-of-type{
        display: inline-block;
        width: max-content;
        background: transparent;
        transition: background 0.2s ease;
        @include round-border;
        color: $paper;
      }
    }

    input{ display: none; }

    label{
      @include thin-paper-border;
      @include round-border;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label:focus{ background: rgb(210, 92, 92); }
    input[type="radio"]:checked + label{  background: $red; border-color:$red;}
    label:hover{ background: $midblue; }

    label &{ display: inline-block;  }

    p, small{
      user-select: none;
      white-space: nowrap;
      margin: 0;
      box-sizing: border-box;
      margin: 0 15px;
      margin-left: 0;
      cursor: default;
      padding: 6px 0;
      position: relative;
      text-transform: capitalize;
      display: block;
    }

    .ico{
      margin: 0;
      padding: 0px 5px;
      box-sizing: content-box;
      height: 15px;
    }
  }

  .switcharo{

    width: max-content !important;
    text-align: center;
    display: grid !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;

    p{
      margin: 0;
      position: relative;
      padding: 0.1em 1em;
    }

    label {
      position:relative;
      margin: 0 4px;
      & > span{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
      }
    }

    input:checked{
     & + label{ border-color:$red; background: $red; }
    }

  }

  .dropdown{

      padding: 0;
      width: 100%;
      color:white;
     & > *:not(:first-child){
      opacity: 0;
      pointer-events: none;
    }

    & > *:first-child{
      @include thin-paper-border;
      @include round-border;
    }

    & > *{
      transition: opacity 0.2s ease;
      @for $i from 1 to 10{
        &:nth-child(#{$i}){ transition-delay: $i * 0.05s; }
      }
    }

    & > *:not(:first-of-type) {
      &.microFilter, .microFilter{
        border: none !important;
      }
    }

    & > *:nth-child(2){ padding-top: 6px; }

    &.active{
      & > * {
        opacity: 1;
        pointer-events: auto;
      }

    }

    li{ width: max-content; }
  }


  #country_select{

    li {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        pointer-events: auto;
        transition: opacity 0.2s ease, transform 0.2s ease;
        -webkit-user-select: none;
        user-select: none;
        justify-content: space-between;
    }

    *:first-of-type li::after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('assets/icons/smallarrow.svg');
        margin-right: 7px;
    }


    li > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #chinaflag{
      background-image: url('assets/chinaflag.svg');
    }
  }




  #displaySwitch{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 0.3s ease;

  }

  .switch {
    height: calc(1em + 6px);
    position: relative;
    display: inline-block;
    width: 45px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }


  .label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }


  .ui-slider-horizontal{
      height:0.4em;
      margin-top:6%;
  }

  .ui-slider .ui-slider-handle{
      width:1em;
      height:1em;
  }

  .ui-slider-horizontal .ui-slider-handle{
      top:-0.4em
  }

  .ui-corner-all{
      border-radius: 10px;
  }

  .ui-state-focus{
      border-radius: 10px;
  }

  .ui-selectmenu-button.ui-button{
      margin-top:0;
      width:80%;
  }

  .ui-button{
      padding : 0.1em 1em;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include thin-paper-border;
    @include round-border;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      box-sizing: border-box;
      padding: 3px;
      left: 1px;
      top: 0px;
      background-color: $midblue;
      -webkit-transition: .4s;
      background-clip: content-box;
      transition: .4s;
      border-radius: 4px;
    }

    input:checked + &{ background-color: $red; border-color: $red; }
    input:checked + &{
      &:before{
        background-color: $paper;
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
      }
    }
  }

}
