
$purple: rgb(204, 0, 255);

@font-face {
  font-family: "kosmo";
  src: url('assets/PLANK.TTF') format('truetype');
}

#terror_board{
  width:100%;
  height:100%;
  display: block;
  //background-image: url("../projects/Terrorcore/terrorcore_logo.png");
  background-size: 60%;
}


.round{
  border-radius: 6px;
}

.window{
/*  box-shadow: 0 2px 5px 0px #372f63b5;*/
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*----------------------Viewer--------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/


#Viewer{
  max-width: 60vw;
  max-height: 60vw;
  display: block;
  bottom: 0;
  right: 0;
  z-index: 9;
  position: relative;
  color: white;

}

#Viewer *{
  font-family: 'xolonium';
}

#v_bkg{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height:100%;
  display: block;
}

#v_imgContainer{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2vw;
}

#v_imgContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#v_metadata{
  position: absolute;
  top: 62%;
  left: -25%;
  font-size: 80%;
  width: 60%;
  z-index: 1;
}

#v_metadata > p::before{
  content:'>> ';
}

#v_metadata p{
  font-size: 0.9em;
  z-index: 2;
}

#v_topbar{

  padding: 0.3em;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: auto 3vw;
  align-items: center;
}

#v_boxi{
  //background-image: url("../projects/Terrorcore/UI_boxi.gif");
  display: block;
  position: absolute;
  width: 92%;
  height: 74%;
  top: -17%;
  right: -24%;
  opacity: 0.3;
}

.v_fero{
  //background-image: url("../projects/Terrorcore/UI_fero.gif");
  display: block;
  width: 350%;
  position: absolute;
  height: 5em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  opacity: 0.3;
  left: -100%;
  top: -80%;
  z-index: -1;
}

#v_topbar .quit{
  display: block;
}

*:not(p, a).XP_glow{
  box-shadow: 0 0 9px var(--pinku), 0 0 3px var(--pinku) inset;
  text-shadow: 0 0 3px var(--pinku), 0 0 5px var(--pinku);
}

p.XP_glow{
    text-shadow: 0 0 3px var(--pinku), 0 0 5px var(--pinku);
}

.XP_bkg{
    background: var(--pinkBkg);
    box-shadow: -2px -2px 15px -8px #fff inset;
}




/*-----------------------------------------*/
/*-----------------PLAYER------------------*/
/*-----------------------------------------*/

.player{
  width: 100%;
  height: 25px;
  display: block;
  bottom: 0;
  margin: 2em 2em;
/*  min-width: 33em;*/
  box-sizing: border-box;
  padding: 0 1em;
  position: relative;

  margin-top: 240px;
  margin-left: 0%;
}

.player *{
  font-family: 'xolonium';
}

#player_skin{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  position: absolute;
  border-top-right-radius: 3.4em;
  border-bottom-left-radius: 3.4em;
  border-bottom-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  transform: translate(-50%, -50%) skewX(0);
  left: 50%;
  top: 50%;
  /*background: linear-gradient(
    180deg,
    rgba(222,190,227,0.4) 0%,
    rgba(255,251,255,0.4) 37%,
    rgba(255,255,255,0.4) 46%,
    rgba(216,203,229,0.4) 63%,
    rgba(215,177,221,0.4) 98%
    );*/
    /*background: #767aab54;*/
    background: #90a2abba;
  /*box-shadow: 0 0 3px 0px var( --pinku), 0 0 5px 0px var( --pinku) inset;*/
}

#player_quit{ flex-direction: row-reverse; }

#player_quit > * {
  height: 100%;
  display: block;
  border-radius: 16px;
  border-style: none;
  border-color: var(--green);
  border-width: 2px;
  width: 30px;
  /*background: rgba(255 255 255/0.3);*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  padding: 2%;
}

#player_quit .quit > *{
  background: var(--green);
}

.player .controls{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.4em;
  height: 100%;
  position: relative;
  align-items: center;
}

.share > img{
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  width:60%;
  object-fit:contain;
}

.share > span{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  border: solid var(--green) 1.2px;
  border-radius: 100%;
  transform: scale(0);
  opacity: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  margin:0;
  padding: 0;
}

.share > span:nth-child(2){ animation-delay: 0.2s;}
.share > span:last-child{ animation-delay: 0.4s;}

.share:hover > span{ animation-name:share; }
.share:hover > img { animation-name:heart;}

@keyframes share{
  0%{
    transform:scale(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes heart{
  0%{transform: scale(1);}
  50%{transform: scale(1.6);}
  100%{transform: scale(1);}
}

#player_bar{
  background: #fff;
  border-radius: 100em;
  /* box-shadow: 0 0 4px 0px var(--pinku), 0 0 4px 0px #7900ff inset; */
  box-shadow: 0 0 1px 0px #5dffd2, 0 0 2px 0px #61feda inset;
  width: 100%;
  display: block;
  height: 6%;
  cursor: pointer;
}

#player_skin.XP_border{
  border-color: var(--green);
}

#player_dot{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: block;
  /*background: #fff;*/
  //background-image: url("../projects/Terrorcore/player_dot.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border-radius: 100%;
  box-shadow: 0.3px 1px 3px 0px #8f14ff, 0.3px -1px 3px 0px #a385ff inset;*/
  cursor: pointer;
}

#player_flex{
  width: 97%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% auto 16% 10%;
  align-items: center;
}

#player_screen{
  position: absolute;
  width: 92%;
  color: rgb(76 255 214);
  height: 2.08em;
  top: -5em;
  box-sizing: border-box;
  box-shadow: none;
}

#player_screen p{
  font-size: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 1em;
}

#player_screen p::before{
  content:'';
}

#volumeSlide{
  position: absolute;
  display: block;
  width: 30px;
  height: 100px;
  display: flex;
  align-content: center;
  bottom: 110%;
  align-items: center;
  justify-content: center;

  transition: clip-path 0.2s ease-out;
}

#volumeSlide.active{clip-path:inset(-20% 0 0 0);}
#volumeSlide.active #slider_thumb{
  transform: scale(1);
}

#slider_bar{
  height: 100%;
  width: 2px;
  border-radius: 10em;
  display: block;
  background: linear-gradient(180deg, white 0%, #5dffd2 50%, #03a999 100%);
  box-shadow: 0px 3px 2px var(--green);
}

#slider_thumb{
  width: 14px;
  height: 14px;
  transition:transform 0.2s ease;
  display: block;
  background-image: url('assets/volume_dot.png');
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 0px 1px rgba(255 255 255 / 50%));
}

#volStrip{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

#volStrip section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#volStrip section:last-child{
  align-items: flex-end;
}

#volStrip span{
  width: 6px;
  height: 1px;
  display: block;
  background-color: var(--green);
  opacity: 0.5;
}



#player_control > *{
  cursor: pointer;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

#player_control > *:hover{
  /*background-color: rgba(0,0,0,0.4);
  box-shadow: inset 0 0 black;*/
}

#player_control > *:active{
  /*background-color: rgba(0,0,0,0.6);*/
}

#player_play{
  background-image: url("assets/play.png");
  width: 100%;
  height: 24px;
}

#player_pause{  background-image: url("assets/pause.png"); }

#player_volume{
  height: 200%;
  justify-content: center;
}

#player_volume button{
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  background-image: url('assets/volume_ico.png');
  background-size: contain;
  cursor: pointer;
  transition: transform 0.2s linear;
}

#player_volume button.active{
  transform: scale(0);
}


#player_disc{
  background-image: url("assets/disc.gif");
  background-size: contain;
  height: 1em;
  float: left;
  width: 1em;
  display: block;
  background-repeat: no-repeat;
  height: 2em;
}

.quit > *{
  display: block;
  width: 7px;
  height: 7px;
  background-color: white;
  position: absolute;
  border-radius: 10em;
  transition: width 0.1s linear, height 0.1s linear;
}

.quit > *:first-child{ transform: rotate(45deg);}
.quit > *:last-child{ transform: rotate(-45deg);}
.quit:hover > *{ width: 80%; height: 3px; }



/*———————————————————————————————————————————————-*/

.icons{

    width:100%;
    height:100%;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


/*———————————————————————————————————————————————-*/


#awake{ position:relative; }

#awake > img:last-child{
  position: absolute;
  top: 0;
  left:0;
  pointer-events: none;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s ease;
}

#awake > img:first-child{

}

#awake > img:first-child:hover ~ img:last-child{
  clip-path: inset(0 0 0 0);
}

/*———————————————————————————————————————————————-*/



#sidemenu{
  list-style:none;
  overflow: hidden;
  position: relative;
  padding: 0 20%;
  padding-left: 1vw;
  width: 70%;
  color: white;
  box-sizing: border-box;

}

#sidemenu span{
  background-position: center;
  mask-type:alpha;
  width:1em;
  height:1em;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

#sidemenu section{
  display: grid;
  align-items: center;
  grid-template-columns: 1.3em auto;
}

#sidemenu li:first-of-type section{
  display: block;
}


#sidemenu *{
  font-family: 'xolonium';
  font-size: 18px;
}

#sidemenu p{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  transform: skewX(-335deg);
  background:none;
}

#sidemenu div{
  transform: skewX(335deg);
  margin: 0.2em 0.2em;
  padding: 0em 0.5em;
  overflow-x: hidden;
}


.noborder{
    box-shadow: none !important;
}


.list_arrow{
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("assets/arrow.png");

}

.hoverable{
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0em 0.3em;
    background:var(--pinkBkg);
}

.XP_border{

  border-top: solid var(--pinku) 2px;
  border-left: solid var(--pinku) 2px;


}

.XP_grad{
    background: linear-gradient(180deg, rgba(222,190,227,1) 0%, rgba(255,251,255,1) 37%, rgba(255,255,255,1) 46%, rgba(216,203,229,1) 63%, rgba(215,177,221,1) 98%, rgba(0,0,0,0) 100%);
}


//#folder_sheet{  background-image: url('../projects/Terrorcore/sprites/folder_sheet.png'); }
//#note_sheet{  background-image: url('../projects/Terrorcore/sprites/note_sheet.png'); }

.sheet{
  background-position: left center;
  background-size: 1481px;
  animation:folder_play 0.8s steps(14) infinite;
  width:100px;
  height:100px;
  display: block;
  float: left;
}

@keyframes folder_play {
  100%{ background-position-x: -1382px; }
 }



/*———————————————————————————————————————————————-*/


#dirpath{
  border-left: none;
  border-right: none;
  z-index: 99;
  cursor: default;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  color: #FFF;
  align-items: center;
}

#dirpath h1{
  display: flex;
  align-items: center;

}


#dirpath h1 > p{
  color:var(--pinku);
  /*text-shadow: 0 0 2px var(--pinku);*/
}

#dirpath span{
  margin: 3px;
  padding: 20px 7px;
  transform: skewY(-335deg);
  display: block;
  align-items: center;
  white-space: nowrap;
  max-height: 7em;
  width: fit-content;
}

#dirpath p{
  font-family: 'xolonium';
  text-orientation: sideways;
  writing-mode: vertical-lr;
  font-size: 18px;
  padding: 0;
  transform: skewY(335deg);
  width: 100%;
  overflow: hidden;
  display: table;
  text-overflow: ellipsis;
}


/*———————————————————————————————————————————————-*/


#morpheus{
  color: var(--pinku);
  box-sizing: border-box;
  padding: 0;
  width: 80%;
}

#morpheus > span{
  width: 100%;
  min-height: 300px;
  display: block;
}

#morpheus img{
  box-shadow: 0 0 10px $purple;
}

#rosas{
  overflow: hidden;
  padding-bottom: 2em;
}

#rosas_dotty{
  display: flex;
  flex-direction: column;
}

#rosas_dotty span{
  transition: border 0.2s ease;
  width: 10px;
  height: 10px;
  display: block;
  border-style: solid;
  border-color: $purple;
  border-width: 2px;
  border-radius: 10em;
  margin: 5px;
}

/*———————————————————————————————————————————————-*/


#mobileexp .body div > *{

}


#mobileexp img {
    padding: 5%;
    box-sizing: border-box;
}

.terrorguide table{
    border-collapse: collapse;
    width:100%;
}

.terrorguide img{
  max-width: 200px !important;
}

.terrorguide img.ico{
  max-height: 35px;
  max-width: 35px;
  margin: 0 5px;
  object-fit: contain;
  object-position: center;
}

.terrorguide img.ico.xiao{
  max-height: 15px;
  max-width: 15px;
}

.terrorguide img.ico.mid{
  height: 25px;
  max-width: 25px;
  object-fit: contain;
}

table .guide_button{
  width: 150px;
  height: 33px;
  display: block;

}

.terrorguide .guide_prim{
  width: 200px;
  display: block;
}

.terrorguide .tableheader{
  text-align: right;
  width: 100px;
  padding: 0 1em;
}

table .leftborder{
  border-color: white;
}

#mood{
  flex-basis:100%;
  height:80vh;
}

#plasma{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#plasma::after{
  content:'';
  background-image: linear-gradient(19deg, #eea6ff00, #2b0080);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}


#logo_container{
  width: 100%;
  height: 100%;
  max-height: 736px;
  cursor: default;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "kosmo";
  justify-content: center;
  position: absolute;

  & > div {
      display: flex;
      cursor: pointer;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      h1{
        line-height: 0.7em;
        letter-spacing: 0px;
        font-size:6em;
        font-family: "kosmo" !important;
        z-index: 9;
        text-shadow: 0 0 11px #00ff19, -1px -2px 2px #FFF;
        transform: skew(10deg, 350deg);
        margin: 0;
        color: black;
      }


      span{
        z-index: 1;
        display: block;
        position: absolute;
        width: 40em;
        height: 10em;
        border-radius: 100%;
        border: solid #8a0082 thin;
        transform: rotate(15deg);
        box-shadow: 0px 0px 20px #8a0082, 0px 0px 20px #8a0082 inset;
      }

  }

 *{ transition: transform 0.3s ease; }

 &:hover {
   & > h1{ transform: skew(10deg, 350deg) scale(1.1); }
   & > span{ transform: rotate(15deg) scale(0); }
  }

}

#influ{

  .cls-1, .cls-2 {
    isolation: isolate;
  }

  .cls-2 {
    font-size: 23px;
    fill: $purple;
    font-family: sinhala;
  }

  .cls-3 {
    fill: transparent;
    stroke: $purple;
    stroke-width: 5px;
    filter: drop-shadow(0 0 10px $purple);
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    letter-spacing: -0.01em;
  }

  .cls-6 {
    letter-spacing: 0em;
  }

  text{
    cursor:default;
  }

  .influgp *{
    transition: stroke 0.15s ease;
  }
}
