

@media only screen and (max-width: 825px) {

  #sidePanel{ display: none; }
  #project .projectWrapper {width: auto; padding: 40px 15px; }
  .casualProject #desc { width: 80%; }


  .projects img {
    max-width: 100%;
    box-sizing: border-box;
  }

  :root{
    --title:2em;
  }

  #letterbox #iframewrapper{
    width: 75vw;
    height: calc(75vw*9/16);
  }

  #menu ul{
    clip-path: inset(0 0 100% 0);
    pointer-events: none;
    display: none;
  }

  #menu{
    right: 6vw;
    #bars.active{
      margin-top: 6vw !important;
    }
  }

  #letterbox{

    #textLetterbox{
      width: 100%;
      section{ padding: 10px; }
      br{ display: none;}
      h2{
        font-size: 5.5em;
      }
    }
  }

  #squareabout{
    width: 100%;
    position: relative;
  }

  #suggest {
    & > section {
      width: 100%;
      height: 100vh;
      grid-template-columns: none;
    }
    img{
      padding: 0;
    }
  }

  .mainTitle.backTitles{
    width: 100%;
    z-index: 3;
    box-sizing: border-box;
    top: 0;
    transform: skew(0);
    font-size: 0.6em;
    margin: 0;
    padding: 3%;
    height: 7.5em;
    background: #f3f3f3;
  }

  #socials{
    position: relative;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 40px;
    left: 0;
  }

  #signature{
    width: 100%;
    margin: 30px 0;
    flex-direction: column;
    span{ visibility: hidden;}
  }


  #loaderPage #frameWrapper #underFrame { width: 30vw; height: 30vw;}

  #suggest img{
    max-width: none;
  }

  footer > section:first-child{
    display: none;
  }

  .flexblank{ display: none;}

  .player{
    margin-left: 0;
  }


  .cat{
    width: 90%;
  }

  #project{
    align-items: center;
    #desc{ width: 100%; }
  }
  #lastDiv p {

    margin-left: 3%;
    width: 80%;

  }

  #resume{
    display: block;
  }

  #resumeSettings{
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 20px;
    padding-top: 3vh;
    padding-left: 2vw;
    width:100%;
  }

  #contactContainer{
    & > h1 {
      font-size: 9em;
    }
    #signature{
      box-sizing: border-box;
      padding: 0 30px;
    }
  }

  /*------CASE STUDY------*/

  .article {
      & > .body > div{
        margin-bottom: 20px;
      }
      .hori, .horizontal, .body{
        flex-direction: column;
      }
  }
  .musicWave{
    left: -7vw;
  }

  #sidemenu{ margin-bottom: 40px; }
  #dirpath{ margin-top: 40px; }



}
