@charset "UTF-8";
/* CSS Document */

/*colors*/
$red : #ff4545;
$blue: #0037ff;
$pink: #dd5eff;
$orange: #ff6b00;
$bkg:#f3f3f3;
$darkgrey: #535353;
$darkbkg: #0e0e0e;
$grad: #0037ff;

$mainColor:$red;
$mainFilter: url(#b);

$border-radius: 15px;

/*values*/
$frameMargin: 45px;
//$title:2.5em;
$title:7.5vw;

/*cube*/
$depth:10px;
$smallDepth:5px;

html::-webkit-scrollbar { width: 0 !important; display: none; }
body::-webkit-scrollbar { width: 0 !important; display: none; }
html{ scroll-behavior: smooth; }


@mixin mainFont{

  font-family: 'Sora';
}

@mixin frameMargin(){
  box-sizing: border-box;
  padding: 40px 45px;
}

@mixin squareCursor(){
  //cursor: url('../assets/cursor.png'), default;
}

@mixin skew(){
  transform: skewY(-12deg);
}

@mixin setWindowColor(){
  @each $name, $color in $mapColor{
    $i: index($mapColor, $name $color);
    & > span:nth-of-type(#{$i}){ background-color: $color !important; }
  }
}

@mixin yoyoAnim($name, $duration){
  animation-name: $name;
  animation-duration:$duration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}


@mixin activeCube($depth){
  transform: translate(calc(-1 * $depth), calc(-1 * $depth) );
  &::before{
    width: calc( 100% + $depth);
    height: calc( 100% + $depth);
  }
}

$mapColor: (
  'red': $red,
  'blue':$blue,
  'purple':$pink,
  'yellow':$orange
);

$mapFilterIndex: (
  1: (color:$red, filter: url(#r) ),
  2: (color:$blue, filter: url(#b) ),
  3: (color:$pink, filter: url(#p) ),
  4: (color:$orange, filter: url(#o) )
);

$mapFilter:(
  ( color: $red, filter: url(#r) ),
  ( color: $blue, filter: url(#b) ),
  ( color: $pink, filter: url(#p) ),
  ( color: $orange, filter: url(#o) )
);

@function filterFromColor($color){
  @each $obj in $mapFilter{
    @if map-get($obj, color) == $color{
      @return map-get($obj, filter);
    }
  }
}

@font-face{
  font-family: 'xolonium';
  src: url("../assets/font/Xolonium-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'noto-bold';
  src: url("../assets/font/NotoSansTC-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'noto-reg';
  src: url("../assets/font/NotoSansTC-Regular.otf") format('opentype');
}

@font-face {
  font-family: "murmure";
  src: url('../assets/font/LeMurmure-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'murmure';
  src: url("../assets/font/chuhuo.ttf") format("truetype");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: bold;
  src: url("../assets/font/hira_b.otf") format("opentype");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/font/hira_r.otf") format("opentype");
  unicode-range: U+4E00-9FFF;
}

@font-face{
  font-family: 'Sora';
  font-weight: normal;
  src: url("../assets/font/Sora-Regular.woff2") format('woff2');
}

@font-face{
  font-family: 'Sora';
  font-weight: 500;
  src: url("../assets/font/Sora-Medium.woff2") format('woff2');
}

@font-face{
  font-family: 'Sora';
  font-weight: bold;
  src: url("../assets/font/Sora-SemiBold.woff2") format('woff2');
}

@font-face{
  font-family: 'Sora';
  font-weight: bolder;
  src: url("../assets/font/Sora-Bold.woff2") format('woff2');
}

@font-face{
  font-family: 'Sora';
  font-weight: lighter;
  src: url("../assets/font/Sora-Light.woff2") format('woff2');
}

*{
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

p, li{
    @include squareCursor;
    font-weight:normal;
}

b{
  font-weight: bold;
}

small{
  font-size: 0.9em;
}

a{
  color: black;
  text-decoration: none;
  line-height: 1.2em;
}

form{
  @include mainFont;
}

h1{
    font-family: 'murmure';
    font-size: 11em;
}
h2{
  font-size: 2em;
  font-weight: 500;
}

h3{
  font-size: 3em;
  font-weight: bold;
}

h4{
  @include mainFont;
  font-size: 1.5em;
}

button, input, label, a{ cursor: pointer !important; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input{
  border: none;
  background: white;
  display: none;

  &:checked + .cube{
      @include activeCube($smallDepth);
  }
}


.zhg{ display: inline-block; }

b .zhg{ font-weight: bold; }


.round{
  border-radius: $border-radius;
  overflow: hidden;
}
.vimeo{
  background: gainsboro;
  position: relative;
  width: 100%;
  display: block;
  flex-basis: auto !important;
  margin-bottom: 20px;
  overflow: hidden;

  iframe{
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: auto;
  }
  .iframePlaceholder{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: auto;
    cursor: pointer;

      &:hover{
        .playIco{
          transform: translate(-50%, -50%) scale(1.1);
        }

        .picPlaceholder{
          transform: scale(1.1);
        }
      }


    section{
      display: block;
      width: 100%;
      height: 100%;
      //background: black;
      position: relative;
    }

    .picPlaceholder{
      width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      transform: scale(1);
      transition: transform 0.5s ease-out;
      cursor: pointer;
    }
    .playIco{
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      position: absolute;
      width: 70px;
      height: 70px;
      object-fit: contain;
      pointer-events: auto;
      transition: transform 0.3s ease-out;
      cursor: pointer;
    }

    .loadIco{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 15px 20px;
      width: 30px;
      height: 30px;

      span{
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}


.cube{

  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    display: block;
    height: 100%;
    background: $red;
    clip-path: polygon(
      0% 0%,
      calc(100% - $smallDepth) 0%,
      100% $smallDepth, 100% 100%,
      $smallDepth 100%,
      0% calc(100% - $smallDepth )
      );

    transition: width, height, 0.2s ease;
  }

  small{ display: block; cursor: pointer; }

  & > *{
    background: white;
    position: relative;
    &:not(.label){ padding: 5px 10px; }
  }

  &:hover{
    @include activeCube($smallDepth);
  }
}


@mixin setDarkSkin(){
  background: $darkbkg;
  color: $bkg;
  a{ color: white; }
  #windowIco span{ background-color: $bkg !important; }
  #menu{
    p{ color: $bkg;}
    #homeButton{ svg{ fill:white; }}
  }
  .discrete{ color: $bkg;}
  #loaderPage{
    .backPlanes:last-of-type, #loadPercent{ background-color: $darkbkg !important; }
  }
  #bars span{ background: $bkg !important; }
  #bars.active span{ background: black !important; }
  #project{ background: $darkbkg; }
  #suggest{ background: $darkbkg; }
  .vimeo{   background: #000000; }
}

@mixin setWhiteMenu(){
  #bars:not(.active) span{ background: $bkg !important; }
}

@mixin setDefaultSkin(){
  background: $bkg;
  color: black;
  #windowIco span{ background-color: black; }
  #menu p{ color: black;}
  .discrete{ color: $darkgrey;}
  #loaderPage{
    .backPlanes:last-of-type, #loadPercent{ background-color: $bkg; }
  }
}

@mixin setColorTheme($color){

  .surligneur::before{
    transition: width, background-color, 0.2s ease-out;
    background-color: $color !important;
  }
  #menu p::before{
    transition: height, background, 0.2s ease-out;
    background: $color !important;
  }

  #menuPanel{
    & > div:first-of-type{ background: $color; }
    & > div:last-of-type a::before{ background: $color; }
  }

  #suggest{
    .projects{
      &::before{ background-color: $color; }
      .gradientImg{ filter: filterFromColor($color);  }
      .project_desc > *{ color: $color !important; }
    }
  }

  #project_banner{
    &::before{ background: linear-gradient(0deg, $color, transparent); }
    h1{color: $color;}
  }
  #sidePanel{
    .projectHeader{ h2{ color: $color; } }
    .projectPreview{
      //border-color: $color !important;
      input[type='radio'].active + .board{
        small{ color:$color;}
        img{ border-width: 3px; }
      }

      .board{
        .active{ color: $color; }
        img{ border-color: $color; }
        &:hover{
          small{ color: $color; }
        }
      }
    }
  }

  #project h3{ color: $color; }

  .looper{ span{ background-color: $color; } }

  .hoverSquare{
      span{ border-color: $color; }
  }

  #loaderPage{
    .backPlanes:first-of-type { background: $color; }
    #frameCache{ stroke: $color !important; }
    p,h3,h2{
      -webkit-text-stroke-color: $color;
      background-image: linear-gradient(0deg, $color, transparent);
      }
    }

  .ico::before{   background-color: $color; }

  #percentBar{ background-color: $color !important; }
  .slideshow{
    .slideDots{
      span{
        border-color: $color;
        &.active, &:hover{ background-color: $color; }
      }
    }
    .slideLegend::before, .slideBar{ background-color: $color; }
  }

}

@mixin setCustomColor($custom){

  .projectHeader h2{ color: $custom !important; }

  #sidePanel .hoverSquare span{
    border-color: $custom !important;
  }

  #sidePanel .projectPreview{
    //border-color: $custom !important;
  }

  #percentBar{
    background-color: $custom !important;
  }

  #project_banner{
    h1{color: $custom;}
  }

  #sidePanel .projectPreview input[type=radio].active + .board small {
   color: $custom !important;
}

  .looper span{ background-color: $custom !important; }
  #loaderPage{
    .backPlanes:first-of-type{ background: $custom !important; }
    #frameCache{ stroke: $custom !important; }
    p,h3,h2{
      -webkit-text-stroke-color: $custom !important;
      background-image: linear-gradient(0deg, $custom, transparent) !important;
    }
    }

}


body{
  @include squareCursor;
  overflow-x: hidden;
  background: $bkg;
  color: black;
  transition: background 0.7s ease;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased;
  @include mainFont;

  @each $name,$color in $mapColor{
    &[data-theme='#{$name}']{ @include setColorTheme($color); }
    &[data-color='#{$name}']{ @include setColorTheme($color); }
  }


  &[data-customcolor='1']{ @include setCustomColor( var(--customcolor) ); }

  &[data-skin='dark']{ @include setDarkSkin; }
  &[data-skin='default']{ @include setDefaultSkin; }
  &[data-skin='whiteMenu']{ @include setWhiteMenu; }
}

footer{
  width: 100vw;
  display: flex;
  padding: 3vw 6vw;
  min-height: 25vh;
  box-sizing: border-box;
  justify-content: space-evenly;
  @include squareCursor;
  color: black;

  & > section::before{
    content: '';
    display: block;
    height: 2px;
    width: 120%;
    background: black;
    margin-bottom: 20px;
    margin-left: -10%;
  }

  a {
      line-height: 23px;
      text-decoration: none;
      cursor: pointer;
  }

  .ico{
    margin: 0 3px;
    &:hover::before{
        transform: scale(1);
        border-radius: 0;
    }
  }

  #footer_social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


.label{
  display: flex;
  flex-direction: row;
  align-items: center;

  .ico{
    display: flex;
    align-items: center;
    margin-left: 12px !important;
  }

  .ico + small{
    padding-left: 10px !important;
  }

  .ico img{
    width: 0.8em;
    height: 0.8em;
    margin: 0;
    vertical-align: middle;
    object-fit: contain;
  }
}

.socialsIcons{
  display: flex;
  align-items: center;
  flex-direction: row;
  .ico {
    margin: 0px 5px;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    &:hover{
      opacity: 1;
      &::before{
        //transform: scale(1);
        //border-radius: 0;
      }
    }
    img{
      width: 16px;
      height: 16px;
    }
  }
}

#signature{
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  span{
    height: 1px;
    background: $darkgrey;
    display: block;
    width: 30px;
    margin: 0 10px;
  }
}

#socials{
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw/4);
  padding-bottom: 20px;

  & > div{
    width: fit-content;
    display: flex;
    align-items: center;
    &:last-of-type{ flex-direction: row; margin-top: 10px; }
  }

  .bars{
    background-color: $darkgrey;
    display: block;

    &.vertical{
      width: 1px;
      height: 20px;
    }
    &.horizontal{
      width: 20px;
      height: 1px;
      margin: 0 5px;
    }
  }




}

#wrapper{

  /*&[data-skin='dark']{ @include setDarkSkin(); }
  &[data-skin='default']{ @include setDefaultSkin(); }*/

}

.hoverSquare{ //main
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top:-45%;
  left: -30%;
  span{
    border-radius: $border-radius/2;
    width: 100%;
    height: 100%;
    display: block;
    border: solid 1px;
    &:last-of-type{position: absolute; top:30%; left: 30%;}
  }
}

#percentBar{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 3px;
  z-index: 9;
  transition: width 0.1ss ease-in-out;
  will-change: width;
}
#toShowreel{
  position: absolute;
  z-index: 2;
  bottom: 0;
  margin: 85px 8%;
  color: white;
  text-transform: uppercase;
  transition: color 0.2s ease, background 0.2s ease;
  border: solid white 2px;
  padding: 0.5% 1%;
  *{color: white;}

  &:hover{
    background: white;
    *{ color: black; }
  }
}


#infopanel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menu{
  position: fixed;
  z-index: 99999;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  top: 4vh;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3%;
  color: black;
  align-items: center;

  #NLogo{
    svg{
      fill:$red;
    }
  }

  #homeButton{
    width: 150px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    user-select: none;
    align-items: center;
    svg{
      fill: $darkgrey;
      transition: fill 0.1s ease;
    }
    small{
      margin-left: 10px;
      transition: color 0.1s ease;
    }
  }

  &.white{
    .topArea{
      #bars{
        span{
          background: white;
        }
      }
    }

    #homeButton{
      small{
        color: white;
      }
      svg{
        fill:white;
      }
    }
  }

  .topArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    #bars{
      width: 70px;
      position: relative;
      transition: margin, 0.3s ease-out;
      cursor: pointer;
      &:not(.active):hover{
        span{width: 100% !important;}
      }

      span{
        transition: width, transform, 0.3s ease-out;
        transform: rotate(0deg);
        display: block;
        background: black;
        width: 100%;
        height: 2.5px;

        &:last-of-type{
          margin-top: 10px;
          width: 70%;
          margin-right: 0;
          float: right;
        }
      }

      &.active{
        margin-top: 1vw;
        margin-left: 2vw;
        span{
          width: 80%;
          margin-top: 0;
          &:first-of-type{ transform: rotate(-45deg);}
          &:last-of-type{ transform: translateX(-20%) rotate(45deg);}
        }
      }
    }
  }



  ul{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    clip-path: inset(0 0 0 0);
    pointer-events: auto;

    transition: clip-path 0.3s ease;
  }

  li{
    margin: 1vw;
    @include squareCursor;
  }

  a.active{
    p::before{ height: 100%; }

    #windowIco{ @include setWindowColor(); }

  }


  p{
    padding: 0;
    margin: 0;
    z-index: 90;
    writing-mode: vertical-lr;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 10%;
        margin: -6px 0 0 -1px;
        height: 0%;
        left: 0;
        top: 0;
        background: $mainColor;
        z-index: -2;
        transition: height 0.2s ease, background 0.2s ease;

    }
    &:hover::before{ height: 100%; }
  }

  #windowIco{
    padding-top: 15px;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    position: relative;

      span{
        position: relative;
        transition: background 0.2s ease;
        border-radius: 100%;
        box-sizing:
        border-box;
        padding: 1.3px;
        display: block;
        float: left;
        background: black;
        background-clip: content-box;
        width: calc(100%/2);
        height: calc(100%/2);
        &:nth-of-type(2), &:nth-of-type(3){ border-radius: 0; }
        transition: padding 0.1s ease-out;

        animation-duration: 0.15s;
        animation-direction: alternate;
        animation-iteration-count: 4;
        animation-fill-mode: backwards;
        @for $i from 1 to 5{
          &:nth-of-type(#{$i}){ animation-delay: #{calc(random(5)/10)}s; }
        }

    }

    &:hover{
      @include setWindowColor();
      span{
        padding: 0.4px;
        animation-play-state: running;
        animation-name: wiggleOpa;
      }

    }
  }


  @keyframes wiggleOpa{
    from{ opacity: 1; }
    to{ opacity: 0.1; }
  }

}


#menuPanel{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
   z-index: 9999;

  & > div{
    display: block;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:first-of-type{  background:$red; }
    &:last-of-type{

      background: $bkg;
      //background-image: url('../assets/menubkgburn.jpg');
      background-size: cover;
      background-position: left;
      overflow-y: auto;
      &::-webkit-scrollbar { width: 0 !important; display: none; }
      &::-webkit-scrollbar { width: 0 !important; display: none; }
      &{ scroll-behavior: smooth; }
    }

    h1,a{
      display: inline;
      letter-spacing: normal;
      line-height: normal;
      position: relative;
      cursor: pointer;
      &.active{
        &::before{
          content: '';
          position: absolute;
          bottom: 1em;
          left: -10%;
          display: block;
          height: 10%;
          max-height: 6px;
          width: 100%;
          background: $red;
        }
      }
    }
  }



  #labelContent{
    display: flex;
    flex-direction: row;
    column-gap: 8em;
    position: sticky;
    margin-left: 30%;
    width: fit-content;
    top:50%;
    transform: translateY(-50%);
    & > *{ position: relative;}
    a{ color: black; }
  }

  .cacheScroll{
    height: 200vh;
    width: 1px;
    display: block;
    position: absolute;
  }
}

#phoneMenu{
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: $bkg;
  pointer-events: none;
  transition: clip-path 0.3s ease-out;
  clip-path: inset(0 100% 0 0);

  &.on, &.on li{
    pointer-events: auto; clip-path: inset(0 0 0 0);
  }

  & > section:last-of-type{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li{
    line-height: normal;
    clip-path:inset(0 100% 0 0);
    transition: clip-path 0.3s ease-out;
    transition-delay: 0.2s;
    &:nth-child(2){transition-delay: 0.3s;}
    &:last-child{transition-delay: 0.4s;}
  }

  ul{ list-style: none; padding: 0;}


}




#menuLines{
  display: none;
  width: 40px;
  height: 38px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 10;

  span{
    width: 100%;
    height: calc(100%/3);
    box-sizing: border-box;
    padding: 9% 0;
    display: block;
    background-color: black;
    background-clip: content-box;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:nth-child(2){ transform: translateY(100%); }
    &:last-child{transform: translateY(200%); }

    &.on{
      &:first-child{  transform: translateY(100%) rotate(45deg); }
      &:nth-child(2){ transform: translateY(100%) scaleX(0);  }
      &:last-child{   transform: translateY(100%) rotate(-45deg);}
    }
  }
}


.ico{ //main
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  img{
    width: 20px;
    height: 20px;
    margin: 5px;
    vertical-align: top;
    object-fit: contain;
  }


  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 20em;
    transition: transform 0.2s ease-out, border-radius 0.2s ease;
    transform: scale(0);
  }
}

.highlight::before{
  content: '';
  width: 3em;
  height: 0.5em;
  display: block;
  position: absolute;
  background: #ff5252;
  top: 50%;
  z-index: 0;
}



.casualProject{
  box-sizing: border-box;
  padding: 5vw 10vw;
  display: inline-block;
  text-align: center;
  width: 100%;

  & > *{ margin-bottom: 5vw; }
  img{ max-height: 90vh; }

  #desc{
    text-align: left;
    width: 50%;
    border: $depth solid;
    border-color: $mainColor;
    border-left: none;
    border-top:none;
    clip-path: polygon(
      0% 0%,
      calc(100% - $depth) 0%,
      100% $depth, 100% 100%,
      $depth 100%,
      0% calc(100% - $depth )
      );

      box-sizing: border-box;
      padding-right: 3vw;
      padding-bottom: 3vw;
      float: right;
  }

  .vert{
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 1vw;
  }

  iframe{ height: 100vh; }

}



iframe.normal{
  height: 50vh;
}

.justifyGallery{
  position: relative;
}

#scrollBar{
  position: fixed;
  top:0;
  left: 0;
  height: 6px;
  background:$mainColor;
  transition: width 0.3s ease-out, opacity 0.2s ease;
  z-index: 999;
  width: 0%;
  opacity: 0;
}



#map{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  @include frameMargin();
  padding-top: 70px;
  display: grid;
  grid-template-rows: repeat(2,50%);
  grid-template-columns: repeat(2,1fr);
  overflow: hidden;

  @each $name, $color in $mapColor{
    $i: index($mapColor, $name $color);
    & > div:nth-of-type(#{$i}) .mapCategory{
      .mapHeader {
        h2, h3{ color: $color; }
      }
      .projects::before{
        background-color: $color;
      }
    }
  }


  .mapHeader{
    display: flex;
    flex-direction: column;

    justify-content: center;

    @keyframes clipAnimate{
      from{ clip-path: inset(0 100% 0 0 ); }
      to{ clip-path: inset( 0 0 0 0); }
    }

    & > *{
      animation-name: clipAnimate;
      transition-duration: 0.2s;
      transition-delay: 1s;
    }
    transform-origin: left;
    height: 110px;
  }

  & > div{

    &:nth-child(1), &:nth-child(3){ transform-origin: right;}
    &:nth-child(2), &:nth-child(4){ transform-origin: left; }

    @each $nth, $obj in $mapFilterIndex{
      &:nth-child(#{$nth}){
        .gradientImg{ filter:map-get($obj,filter); }
      }
    }
  }
  .mapCategory{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    &:nth-child(2n){ padding-left: 20px;}
    &:nth-child(3n), &:first-child{ padding-right: 20px;}
  }

  .mapGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30%);
    height: 100%;

    & > *{
      box-sizing: border-box;
      padding: 3px;
      height: 100%;
    }
    a{
      height: 100%;
      width: 100%;
    }
  }

  .projects{
    width: 100%;
    height: 100%;
    img{ min-height: auto; height: 100%; }

  }
}

#mainContainer{
  position: relative;

  .smallFrame{
    position: relative;
    height: calc( (100vw/3) * (9/16) );
    box-sizing: border-box;
    padding: 1%;
    margin-bottom: 0;
  }
}

.goBack{
  transition: left 0.2s ease, width 0.4s ease-out, height 0.4s ease-out, border-radius 0.5s ease, top 0.2s ease;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  section, object{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
  }

  object{
   width: 25px;
   height: 25px;
   pointer-events: none;
   z-index: 9;
 }

 section:first-of-type{
     border-radius: 100%;
     border:3px dashed $mainColor;
     animation-name: rotate;
     animation-duration: 20s;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     transition: background-color 0.2s ease;

 }

 & > #latbar{
   height: 100vh;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   background-color: $mainColor;
   z-index: 99;
   transition: background-color 0.3s ease;
 }

}




#contactBack{
  height: 50px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  position: relative;

  &:hover section:first-of-type{ background-color: $mainColor; }
}

#contactBackButton{
  background-image: url('../assets/back_arrow.svg');
  background-size: 50%;
}

#mainBack, #viewerBack{
  height: 100vh;
  position: fixed;
  left: 0;
  padding-left: 20px;
  top:0;
  z-index: 99;
}


@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#backButton{
  position: fixed;
  top: 0;
  margin: 15px $frameMargin;
  cursor: pointer;
}

.discrete{
  &, & * {
    color:$darkgrey;
  };
}

.backButton{
  box-sizing: content-box;
  z-index: 3;
  transition: background-color 0.1s ease, width 0.2s ease, height 0.2s ease, border-radius 0.1s ease-out;
  border-color: black;
  border-width: 0px;
  border-style: solid;
  width:30px;
  height: 30px;
  border-radius: 100%;

  &:hover{
    background-color: $mainColor;
    height: 100%;
    width: 100%;
    /*border-radius: 0;*/
    /*padding: 3%;*/
  }

}



.arrowbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 3.5vh 0;
}


/* --------- POP / REMOVE left menu ----------*/
.removeMenu ul li p{
  animation-name: removeMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

   ul > li{
    &:nth-of-type(2) p{ animation-delay: 0.2s;}
    &:nth-of-type(3) p{ animation-delay: 0.4s;}
   }

}

.removeForm{
  animation-name: removeMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.popMenu{

  p::before{
    width: 100% !important;
    height: 100% !important;
    margin: 0% !important;
    transform: scale(0);

    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      border-radius 0.3s ease;

    animation-name: popBefore;
    animation-duration: 0.4s;
  }

  ul li p{
    transform: scale(0);
    animation-name: popMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

}



/* --------- POP / REMOVE back button ----------*/
.popBack{
  transform: scale(0);
  animation-name: popMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.removeBack{
  animation-name: removeMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes removeMenu {
  0%{
      transform: scale(1);
  }
  60%{
      transform: scale(1.3);
  }
  100%{
    transform: scale(0);
  }
}

@keyframes popMenu {
  0%{
      transform: scale(0);
  }
  70%{
      transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes popBefore{
  0%{
    transform: scale(0);
    opacity: 1;
  }
  80%{
    transform: scale(1.4);
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.surligneur{
  position: relative;
  @include squareCursor;

  &::before{
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    margin-left: -6px;
    height: 10%;
    left: 0;
    bottom: -3px;
    background-color: $mainColor;
    z-index: -2;
    transition: width 0.2s ease;
    max-height: 10px;
  }

  &:hover::before{ width: 100%; }
  &.active::before{ width: 100%; }
  &.nomargin::before{ margin-left: 0; }
  &.overlay::before{ transition: height 0.1s ease-in; }
  &.overlay:hover::before{ height: 100%; }
}


#project_banner{
  position: fixed;
  background: black;
  width: 100%;
  height: 60vh;
  top: 0;
  box-sizing: border-box;
  padding: 70px 10px;
  text-align: center;

  &::before{
    content: '';
    background: black;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  h1{
    margin: auto;
    color: $red;
  }
  img{
    position: absolute;
    top: -5%;
    left: -10%;
    width: 120%;
    height: 110%;
    max-width: none;
    object-fit: cover;
    opacity: 0.2;
    user-select: none;
    filter:saturate(0) blur(20px);
  }
  & > *{
    position: relative;
    color: white;
  }
}

#project{ //Main

  background: $bkg;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  margin-top: 50vh;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  #sidePanel{
    transition: opacity 0.3s ease-out;
    position: fixed;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 5px;
    top: 0;

    .projectPreview{
      box-sizing: border-box;
      padding: 10px 0;

      position: relative;
      max-height: 60%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 50%;


      input[type='radio']{
        border: none;
        text-align: left;
        padding: 0;
        visibility: hidden;
        display: none;
      }

      &::-webkit-scrollbar { width: 0 !important; display: none; }

      input[type='radio'].active + .board{
        transform: scale(1);
        opacity: 1;
      }

      img{
        user-select: none;
        pointer-events: none;
        //box-shadow: 0px 3px 10px rgba(0 0 0 / 17%);
        max-width: 100%;
        border:solid 0px $mainColor;
        transition: opacity 0.2s ease, border 0.3s ease;
        box-sizing:border-box;
      }
      overflow: hidden;
      overflow-y: scroll;

      .board{
        cursor: pointer;
        transition: opacity, scale, 0.3s ease;
        transform: scale(0.8);
        opacity: 0.5;
        small{ display: none; margin-bottom: 5px; transition: color 0.2s ease; }
        .last{ opacity: 0.25; }
        .first-to-last{ opacity: 0.5; }
        .second-to-last{ opacity: 0.75; }
        &:hover{
          opacity: 1;
        }
      }
    }

    .projectHeader{
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap:5px;
      width: calc(100vw - 85vw);
      padding-right: 5%;
      box-sizing: border-box;
      h2{
        margin-top: 30px;
      }
    }

  }


  .projectWrapper{
    @include frameMargin;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15vh;
    width: 100%;
    img{
      max-width: 100%;
      object-fit: contain;
    }

    .vimeo{
      .iframePlaceholder{
        .picPlaceholder{
          object-fit: cover;
        }
      }
    }
    & > div{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }



}


#projects{
  margin-right: 3vw;
  position: relative;
  margin-top: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > section{
    overflow-x: hidden;
    width:100vw;
    height:calc(100vw*8/16);
    display: block;
    background:#DDD;
    position: relative;
    border-radius: 0.0em;
    margin: 0vw 0;
    transition: transform 0.3s cubic-bezier(.2,.16,.36,1.01);
    overflow: hidden;

  }
}

#resumeSettings{
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw/3);
  min-width: 520px;
  position: fixed;
  @include frameMargin;
  z-index: 2;

  label{
    margin: 0 5px;
    small,p{
      display: block;
      padding: 5px 12px
    }
  }
}


#resumeSide{

  width: calc(100vw/2.5);
  top: 0;
  position: fixed;
  @include frameMargin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;


}

#squareabout{
  position: fixed;
  top: 10%;
  left: 0%;
}


#resumeWrapper{
  position: absolute;
  width: calc(100% - 100%/3);
  right: 0;
  padding: 45px;
  box-sizing: border-box;
}

#resumeHeader{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  h2{
    margin-bottom: 10px;
    font-size: 8em;
    font-family: 'murmure';
  }
  p{
    margin-top: -30px;
    margin-bottom: 7px;
    font-weight: bold;
    color:$red;
    white-space: nowrap;
  }

}


#resume{
    padding-left: 0;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2));
    box-sizing: border-box;
    justify-content: end;
    position: relative;

    #signature{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    & > div{
      &:first-of-type{ padding-right: 50px;}
      &:last-of-type{ padding-left: 50px;}
      box-sizing: border-box;

    }
    //display: grid;
    //grid-template-columns: repeat(2, 50%);
    .resumeSection{
      box-sizing: border-box;
      margin-bottom: 30px;
      transition: transform 0.6s ease-out;

      ul{ margin: 10px 0; }
      li{
        margin: 6px 0;
        list-style-type: square;
        &::marker {  color: black;}
      }
      a{ cursor: pointer; }
      .sectionHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
        color:$red;
        border-top: solid 2px $red;
      }
      small{ display: block;}
      .separator{
        display: block;
        height: 1px;
        width: 100%;
        margin: 10px 0;
        //background-color: $darkgrey;
        border-bottom: dotted 2px #535353;

      }
      .detail{
        margin-top:10px;
        font-size: 0.8em;
      }

      .contentHeader{
        font-weight: bold;
        margin-bottom: 8px;
        color:black;
        a{
          color: $red;
          font-weight: bold;

        }

        .neutral{
          color: black;
        }
      }
    }


    .langueSection{
      p,b, span,.contentHeader{
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        color: black;
      }
    }

    .techniSection{
      p{ color: black !important; }
    }



}

#letterbox{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: opacity 0.2s ease;

  div{ background-size: cover; }
  & > section{
    position: absolute;
    left: 5%;
    bottom:10%;
    width: 50%;
    box-sizing: border-box;
    color: white;
    text-shadow: 2px 3px black;
    z-index: 2;
  }

  #iframewrapper{
    $width:55vw;
    position: absolute;
    width: $width;
    height: calc($width*9/16);
    bottom: 15%;
    right: 6%;
    transition-property: clip-path, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    pointer-events: auto;
    & > div:first-child{
      overflow: hidden;
      border-radius: $border-radius;
      transition: transform 0.2s ease-out;
    }
    &:hover{
      transform: scale(1.1);
    }
    .vimeo{
      height: 100%;
      margin: 0;
    }

    a{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

  }

  #toShowreel{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    &:hover{ background: none;}
    z-index: 1;
    margin: 0;
  }

  iframe{
    position: relative;;
    box-sizing: border-box;
  }

  & > section > h2:last-child{ float: right; }

  h5{
    font-size: 2em;
    margin-bottom: 10px;
  }

  h2{
    font-size: 6em;
  }


  #loadVid{
    position: absolute;
    width: 15vw;
    height: 15vw;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
  }


  #viewShowreel{
    position: absolute;
    top: 0;
    left: 0;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    display: flex;
    background-color: $bkg;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: none;

    a{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: none;
    }
    &::before{
      cursor: none;
      content: '';
      position: absolute;
      width: 45%;
      height: 45%;
      box-sizing: border-box;
      display: block;
      background-color: black;
      background-clip: content-box;
      clip-path: polygon(50% 0%, 0 75%, 100% 75%);
      transform: rotate(90deg) scale(1);
    }

  }

  #textLetterbox{
    pointer-events: none;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    h2{
      font-family: 'murmure';
      font-size: 8em;
    }
    h1{
      font-family: 'Sora';
      font-size:2.3em;
      line-height: 1em;
      font-weight: 300;
      margin-top: -10px;

      span{
        display: inline-block;
        margin-left: 7px;
        width: 20px;
        background: black;
        height: 2px;
        opacity: 1;
        animation-name: onOff;
        animation-duration: 0.5s;
        animation-timing-function: step-start;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }

      @keyframes onOff{
        50%{ opacity: 0; }
      }
    }
    & *{ @include squareCursor;         pointer-events: auto; }
    section{
      width: fit-content;
      position: absolute;
      top: 10%;
      left: 8%;
      & > *{
        transition: transform, clip-path, 0.2s ease-out;
      }


    }

    #arrowScroll{
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      animation-name: updown;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      cursor: pointer;
      z-index: 2;

      img{ width: 25px; cursor: pointer; }

    }
  }



}





@keyframes updown{
  0%{
    transform: translateX(-50%) translateY(0);
  }
  100%{
    transform: translateX(-50%) translateY(15px);
  }

}



#bigc{
  width: 60vw;
  height: 60vw;
  display: block;
  position: absolute;
  z-index: -1;
  background-image: linear-gradient($orange -20%, $red 110%);
  border-radius: 100%;
  top: -10%;
  right:0;
  opacity: 0.8;
  display: none;
}



#showreel{
  position: absolute;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 100px;
  .vimeo{ margin-top: 5%; }

  #homeButton{
    width: auto;
    position: fixed;
    margin: 1.5% 3%;
    z-index: 8;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  div, iframe{
    width: 100%;
    height: 100%;
  }


  //iframe{ background: black;}
}

#dotty {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  span{
    width: 0.5em;
    height: 0.5em;
    position: relative;
    border-style: solid;
    border-width: 2px;
    margin: 0.3em 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition:background 0.2s ease, border-radius 0.2s ease;

    .cross:first-child{  transform: rotate(45deg); }
    .cross:last-child{  transform: rotate(-45deg); }
  }

  .dotactive{ background-color:black; }
  .dotactive_white{ background-color:white; }


}


.cross{
  position: absolute;
  width: 0%;
  height: 0.05em;
  display: block;
  background: #fff;
  transform: scale(0);
  transition: width 0.2s cubic-bezier(.17,.67,.62,1.37);
}

#loaderPage{
  position: fixed;
  z-index: 990990;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;

  .backPlanes{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: $bkg;
    transition: background 0.5s ease;
  }

  h2{
    font-family: 'murmure';
    font-weight: normal;
    background-image: linear-gradient(0deg, black, transparent);
    background-position-y: 50vh;
    color: transparent;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 40vw;
    user-select: none;
    top: 17%;
    -webkit-background-clip: text;
    white-space: nowrap;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    background-position-y: 100vh;

    @keyframes float{
      from{ transform: translateY(20px);}
      to{ transform: translateY(0);}
    }

  }

  #loaderPercent{
    display: none;
    position: absolute;
    bottom:10vh;
  }

  #frameWrapper{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #underFrame{
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8vw;
      height: 8vw;
      .looper{
        width: 40%;
        height: 40%;
      }
    }
  }

  //main frame

  #loadFrame{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    @keyframes sinScale{
      from{ transform: scale(1);}
      to{ transform: scale(0.8);}
    }

    @include yoyoAnim(sinScale, 2s);

    animation-name: none;

    #frameCache{
      stroke-width: 26px;
      fill: transparent;
      position: absolute;
      clip-path: url(#frameClip);
    }

    #frameClip{
      //animation-name: rotatePercent;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;


      @keyframes rotatePercent{
        to{ transform: rotate(360deg); }
      }
    }

   }

}


//Looper
.looper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);

  span{
    width:100%;
    height:100%;
    display: block;
    background-color: black;
    background-clip:content-box;
    box-sizing: border-box;
    padding:10%;
    transform: scale(0);
    &:first-of-type, &:last-of-type{ border-radius: 100%; }

     animation-name: dotLoad;
     animation-duration: 2s;
     animation-iteration-count: infinite;

     @for $n from 2 to 5{
       &:nth-of-type(#{$n}){ animation-delay: #{calc($n / 10)}s; }
     }

    @keyframes dotLoad{
      0%{ transform: scale(0); }
      10%{ transform: scale(1.2); }
      50%{  transform: scale(1); }
      70%{  transform: scale(1); }
      80%{  transform: scale(1.2); }
      100%{  transform: scale(0); }
    }

  }
}


#loader{
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 998;
  overflow: auto;
  pointer-events: none;

  & > span{
    display: block;
    width:100%;
    height: 100%;
    background-color: $mainColor;
    position: absolute;
    clip-path:inset(0% 0% 0% 0%);

    &:last-of-type{  background-color: $bkg; }
  }
}

@keyframes rotatePercent{
  0%{ transform: translate(-50%, -50%) rotate(0deg);  }
  100%{ transform: translate(-50%, -50%) rotate(360deg); }
}


.projects{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  transition: transform 0.6s ease-out, opacity 0.5s ease;
  z-index: 1;

  img{ border-radius: $border-radius; }
  & > section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }

  .project_desc{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    box-sizing: border-box;
    padding: 5%;
    opacity: 1;
    @include squareCursor;
    color: white;

    & > *{
      line-height: initial;
      margin: 5px 0;
      box-sizing: border-box;
      padding: 5px 10px;
      width:fit-content;
      transition: clip-path 0.3s ease-out;
      clip-path: inset(0 100% 0 0);
    }

    & h2{
      padding-bottom: -10px;
    }
  }

  .gradientImg{ position: relative; opacity: 1}
  .overlay{
    opacity: 0;
    transition: opacity 0.2s ease;
    border-radius: $border-radius;
    .thumb{
      opacity: 0;
      position: absolute;
      transition: transform 0.2s ease-in-out;
      transition-delay: 0.1s;
      max-width: none;
      max-height: none;
      height: 100%;
    }

    .vimeo{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      iframe{
        align-self: flex-start;
        flex-shrink: 0;
        max-width: none;
        height: 100%;
        width: 100%;
        //margin-left: -40%;
      }
    }
  }
  .move{
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .thumb{
    width: 100%;
    //max-height: 50vh;
    transition: transform 0.2s ease, opacity 0.2s ease;
    vertical-align: top;
    position: relative;
    min-height: 31vh;
    object-fit: cover;
  }

  .iframePlaceholder img{
    height: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease;
    object-fit: cover !important;
  }


  &:hover{
    z-index: 3;
    .move{ transform: translate( calc(-1 * $depth), calc(-1 * $depth)) }
    .overlay{ opacity: 1;}
    .overlay .thumb, .iframePlaceholder img{ transform: scale(1.1); opacity: 1; }
    .project_desc > *{ clip-path: inset(0 0 0 0); }
    .project_desc > *:nth-child(2){ transition-delay: 0.2s; }
    .project_desc > *:last-child{ transition-delay: 0.2s; }

    .gradientImg{
      transform: translate( calc(-1 * $depth), calc(-1 * $depth));
    }

  }


}


.gifs{
  margin: 20px;
  max-width: 340px;
  pointer-events: none;
}


img.gradientImg{
  position: absolute;
  top: 0;
  left: 0;
}


.projects::before,
.popCube::before{
  border-radius: $border-radius;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transition: transform 0.2s ease, width 0.2s ease, border-radius 0.2s ease, height 0.2s ease, padding 0.2s ease, clip-path  0.2s ease, background 0.2s ease;
  //square
  //clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
  clip-path: inset( 7px 0px 0px 7px);

}

.popCube::before{ background-color: $mainColor; }

.cat, #suggest{
  .looper{ span{ background-color: $bkg !important; } }
}

.cat{

  min-height: 100vh;
  box-sizing: border-box;
  padding: 10vw 0;
  margin: 10vw 0;
  margin-right: 5%;
  width: 60%;
  transition: transform 0.2s ease;

  & > section:first-child > h1{
    min-height: 10vw;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 6em;
    max-width: 4em;
    pointer-events: none;
    @include squareCursor;
    color: white;
  }

  .title{ color:black; }

  .projects{
    float: right;
    &:hover::before{ background-color: $red;  }
    .project_desc > * { color: $red; background-color: white; }
  }

  .linkSlider{
    transition: transform 0.6s ease-out, opacity 0.5s ease;
    width: fit-content;
  }

 @mixin setBkgFilter($nth, $col, $url ){
   &:nth-of-type(#{$nth}n){

     .projects:hover{
      &::before { background-color: $col;  }
     }

     .gradientImg{ filter: $url; }
     .projects .project_desc > * { color:$col; }

   }
 }


  @each $nth, $obj in $mapFilterIndex{
    @include setBkgFilter($nth, map-get($obj,color), map-get($obj,filter) );
  }

}


#suggest{ //main

  @include frameMargin();
  width: 100%;
  height: 105vh;
  padding-left: 10%;
  padding-right: 10%;
  background: $bkg;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-origin: border-box;
  float: right;

  #signature{
    justify-content: center;
    margin: 0;
    margin-top: 90px;
      opacity: 0.3;
  }
  .gradientImg{filter:$mainFilter;}
  .projects{
    min-height: 50vh;
    max-height: 200px;
    width: 100%;
    height: 100%;
    img{
      padding: 0;
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: none;
      position: absolute;
      top: 0;
    }

    .project_desc{ position: relative; }

    &:hover{
      &::before { background-color: $mainColor;  }
      .project_desc > * { clip-path: inset(0 0 0 0); }
    }

    .project_desc > *{ color: $mainColor; background-color: $bkg; }

  }



  & > h2{
    line-height: 2em;
    margin-left: 0%;
  }

  & > section{
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    & > .linkSlider{
      box-sizing: border-box;
      padding: 0 7px;
    }
  }



}




.projects:hover .project_desc,
.popCube:hover > *,
.popCube.active{
  opacity: 1;
  transform: translate( calc(-1 * $depth), calc(-1 * $depth));
}


.projects:hover::before,
.popCube:hover::before,
.popCube.active::before{

  //square
  /*transform: translate( calc(-1 * $depth), calc(-1 * $depth));
  padding-right: $depth;
  padding-bottom: $depth;
  clip-path: polygon(
    0% 0%,
    calc(100% - $depth) 0%,
    100% $depth, 100% 100%,
    $depth 100%,
    0% calc(100% - $depth )

    );*/
  //rounded
  border-radius: calc($border-radius + 5px) * 2;
  border-bottom-right-radius: calc($border-radius + 5px);
  transform: translate(-15px, -15px);
  width: calc(100% + 15px);
  height: calc(100% + 15px);


}

.popCube > *{
  z-index: 2;
  transition: transform 0.2s ease;
}

.popCube > p{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
 }


/*.cube{
    transition: transform, clip-path, border,  0.2s ease-out;
    border: $depth solid;
    border-color: $mainColor;
    border-left: none;
    border-top:none;
    clip-path: polygon(
      0% 0%,
      calc(100% - $depth) 0%,
      100% $depth, 100% 100%,
      $depth 100%,
      0% calc(100% - $depth )
      );
}*/


@keyframes popCube {
  0%{
    clip-path:inset( 0 100% 0 0);
    border-width: 0;
  }
  80%{
    clip-path:inset( 0 0 0 0);
  }
  100%{
    border-width: $depth;
  }
}


#gradBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -4;
}


.mainTitle{
  top: 0;

  @each $name, $color in $mapColor{
    h2[data-color='#{$name}']{ color:$color !important;  }
  }


  .underline{
    height: 6px;
    width: 100%;
    display: block;
    background: $red;
    transition: width 0.3s ease;
    margin-left: -7%;
  }

  &.backTitles{
    position: fixed;
    margin: 3% 56px;
    pointer-events: none;
    @include squareCursor;
    transform-origin: left;
    z-index: -1;
    @include skew();
    top: 10vh;
    overflow: hidden;
    height: calc( (2*$title) + 20px);

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, $bkg 30%, transparent 60%);
      top: 0;
      left: 0;
    }

    h1, h2{
      transition: color 0.2s ease;
      color:$red;
    }

    *{
      font-family: 'murmure';
      float: left;
      text-transform: none;
      text-align: center;
      font-size: clamp(50px,$title, 200px);
    }


    section{
      position: relative;
      display: grid;
      grid-template-rows: repeat(3,2.5em);
      top:0em;
      /*width: calc($title/2);*/
    }

    section > h1:first-of-type{
      left: -100%;
    }



  }
}



#bottomTitle{
  position: fixed;
  bottom: 0;
  width: fit-content;
  margin: 2% 2%;
  box-sizing: border-box;
  padding: 1%;
  display: inline-block;
  white-space: nowrap;
  pointer-events: none;
  background: $mainColor;
  color: white;
  opacity: 0;
  z-index: 5;

  & > *{
    width: fit-content;
    white-space: nowrap;
  }

}


#gradBackground > section{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: background 0.3s ease;
}


#loadBubble{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loadBubble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  span{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    left:50%;
    top:50%;
    position: absolute;
    animation-name: loadBubble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: $mainColor;

    &:nth-of-type(1){ transform-origin: 250% 250%; }
    &:nth-of-type(2){ transform-origin: 200% -200%; }
    &:nth-of-type(3){ transform-origin: -200%; }
  }
}


@keyframes loadBubble{
  from{
    border-radius:0;
    transform: translate(-50%, -50%) rotate(0deg);

  }
  to{
    border-radius:100%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


#contactMe{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 5vw;
  min-height: 100vh;
  column-gap: 5%;
  align-items: center;
  margin-bottom:10%;

  form{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
    width: 30vw;
    row-gap:7px;
    margin: 0vw 10vw;
    float: right;
    position: relative;
  }
}



#success{
  width: 200px;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform:scale(1);
  flex-direction: column;

  span{
    width: 100%;
    height: 100%;
    display: block;
    border: 8px solid $pink;
    border-radius: 100%;
  }

  &  > section{ transform: scale(0); }
}


.swipeRight{
  animation-name: swipeRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#contactMe{
  form{
    h1{ line-height: 2em; }
    section > *{ width: 100%; }
    input[type="submit"]{
      border: none;
      visibility: hidden;
      display: none;
    }

    & > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        &:last-child { align-items: flex-end; }
    }
  }

  input, textarea, label[for='submit'] p{
    background-color: #e2e2e2;
    color: black;
  }


  input, textarea{
    width:100%;
    box-sizing: border-box;
    padding: 3% 2%;
    border:none;
  }

  textarea{
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    max-width: 100%;
    min-width: 100%;
    resize: none;
  }

  label{
      transition: transform 0.2s ease-out, clip-path 0.2s ease-out, border 0.2s ease-out;
      &[for='submit']{
        height: 50px;
        margin: 20px 0;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        transition: transform 0.3s ease;
        background:#dedede;
      }
  }


}

#interest{
  position: relative;
  h1:not(:first-child){
    position: absolute;
    top: 0;
    background: black;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
    animation-duration: 2s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}


.activeInterest{ animation-name: interestTitle; }


@keyframes interestTitle{

  0%{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  70%{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }

  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}


@keyframes static_rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes swipeRight {
  0%{ transform: scale(0); }
  60%{ transform: scale(1.3); }
  100%{ transform: scale(1); }
}


.viewerjs{
  overflow-y: clip;
  display: inline-block;
  margin: 5% 0;
}



#viewerjs_thumbnails {
    position: absolute;
    top: 0;
    left: 90%;
}

#viewerjs_mainframe{
  width: 90%;
}

.viewerjs_small{
  box-sizing: border-box;
  transition: filter 0.2s ease;
}

.viewerjs_small img{
  box-sizing: border-box;
  padding: 10%;
}




.viewerjs_small::before{
  content: '';
  width: 70%;
  height: 78%;
  display: block;
  left: 20%;
  top: 7%;
  position: absolute;
  border-color: $mainColor;
  border-style: solid;
  z-index: -1;
  transition: border 0.1s linear;

}


.viewerjs_inactive::before{
  border-width: 0;
}


.viewerjs_active::before{
  border-width: 2px;
}

.viewerjs_active{
  filter: none;
}


#notFound{
  box-sizing: border-box;
  padding: 4em;
  position: relative;
  height: 100vh;
}


.picLink{
  position: relative;
  cursor:pointer;

  img{ max-height: none !important;}

  span{
    opacity: 0;
    transition: opacity 0.3s ease;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $bkg;
    width: 30px;
    height: 30px;
    margin:10px;
   }

  &:hover{
    span{opacity: 0;}
  }
}

#contactContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-position: bottom;

  #signature{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  & > h1{
    color:$pink;
    margin: 50px 70px;
  }
  #contactLinks{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);
    a{ cursor: pointer; }
    section{
      margin-top: 20px;
      & > *:first-child{ margin-bottom: 10px; }
      & > *:last-child{ margin-left: 40px;}
    }
  }
}


@media screen and (orientation:portrait) {
  #resume{
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);

    #signature{
      padding: 0;
      position: relative;
      margin-top: 90px;
    }
  }

  #resumeWrapper{
    width: 100%;
    position: relative;
  }

  #resumeSettings{
    width: 70%;
  }

  #resumeHeader{
    h2{ font-size: 6em; }
    p{ white-space: normal;}
  }


  #squareabout{
    width: 100%;
    position: relative;
    right: 0;
    margin-top: 10%;
  }

  #graphic_chart{
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #laos_features{
    height: 50vh;
  }

}
