@font-face {
    font-family: "murmure";
    src: url('./LeMurmure-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'murmure';
    src: url("chuhuo.ttf") format("truetype");
    unicode-range: U+4E00-9FFF;
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: normal;
    src: url("./Sora-Regular.woff2") format('woff2');
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: 400;
    src: url("./Sora-Regular.woff2") format('woff2');
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: 500;
    src: url("./Sora-Medium.woff2") format('woff2');
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: bold;
    src: url("./Sora-SemiBold.woff2") format('woff2');
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: bolder;
    src: url("./Sora-Bold.woff2") format('woff2');
  }
  
  @font-face{
    font-family: 'Sora';
    font-weight: lighter;
    src: url("./Sora-Light.woff2") format('woff2');
  }
  